<div class="map">
  <img
          alt="Map image coordinates {{@lat}},{{@lng}}"
          ...attributes
          src={{this.src}}
          width="{{@width}}"
          height="{{@height}}"
  >
</div>
