<nav class="menu">
  <LinkTo @route="index" class="menu-index">
    <h1>SuperRentals</h1>
  </LinkTo>
  <LinkTo @route="about" class="menu-about">
    <h1>About</h1>
  </LinkTo>
  <LinkTo @route="contact" class="menu-contact">
    <h1>Contact</h1>
  </LinkTo>
</nav>
