<Jumbo>
  <h2>About Super Rentails</h2>
  <p>The Super Rentals website is a delightful project created to explore Ember.
    By building a property rental site, we can simultaneously imagine traveling
    AND building Ember applications.</p>
  <LinkTo @route="contact" class="button">Contact Us</LinkTo>
</Jumbo>
